<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Urbex Collection</title>
    <link rel="stylesheet" href="/css/bootstrap.rtl.min.css">
    <link rel="stylesheet" href="/css/cover.css">
    <link rel="stylesheet" href="/css/leaflet.css">
    <link rel="stylesheet" href="/css/stile.css">
</head>
<body class="text-center">

<div class="background-container">
    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
        <header class="masthead mb-auto">
            <div class="inner">
                <h3 class="masthead-brand">Urbex</h3>
                <nav class="nav nav-masthead justify-content-center">
                    <a class="nav-link active" href="/">Home</a>
                    <div class="px-2">
                        <div th:if="${userDetails != null}">
                            <a class="nav-link" href="/logout">Logout</a>
                        </div>
                        <div th:unless="${userDetails != null}">
                            <a class="nav-link" href="/login">Login</a>
                        </div>
                    </div>
                    <a class="nav-link" th:href="@{/formSearchPlaces}">Search</a>
                </nav>
            </div>
            <div th:if="${userDetails}">
                <p style="margin-top: 50px; margin-right: 610px;">Hello,<a th:text="${userDetails.username}"></a>!</p>
            </div>
        </header>

        <div class="bg-dark rounded-3 overflow-auto">
            <div class="d-flex align-items-center h-custom-2 px-5 ms-xl-4 mt-5 pt-xl-0 mt-xl-n5">
                <form th:action="@{/admin/place}" method="POST" th:object="${place}" enctype="multipart/form-data">
                    <div th:if="${#fields.hasGlobalErrors()}">
                        <p th:each="err:${#fields.globalErrors()}"th:text="${err}">...</p>
                    </div>

                    <h3 class="fw-normal mb-3 pb-3 text-center" style="letter-spacing: 1px;">New Place</h3>

                    <div class="row mb-3">
                        <div class="form-outline col-sm-6 text-center">
                            <input type="text" id="nome" class="form-control form-control-lg bg-success text-white" placeholder="Name" required th:field="${place.name}"/>
                            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
                            <label class="form-label" for="nome"></label>
                        </div>

                        <div class="form-outline col-sm-6 text-center">
                            <input type="text" id="regione" class="form-control form-control-lg bg-success text-white" placeholder="Region" required th:field="${place.region}"/>
                            <span th:if="${#fields.hasErrors('region')}" th:errors="*{region}"></span>
                            <label class="form-label" for="regione"></label>
                        </div>
                    </div>

                    <div class="form-outline mb-3 text-center">
                        <input type="text" id="indirizzo" class="form-control form-control-lg bg-success text-white" placeholder="Address" required th:field="${place.address}"/>
                        <span th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></span>
                        <label class="form-label" for="indirizzo"></label>
                    </div>

                    <div class="form-outline mb-3 text-center">
                        <input type="text" id="descrizione" class="form-control form-control-lg bg-success text-white" placeholder="Description" required th:field="${place.description}"/>
                        <label class="form-label" for="descrizione"></label>
                    </div>

                    <div class="form-outline mb-3 text-center">
                        <label for="map" class="form-label">Move the marker, now it's over our university!</label>
                        <div id="map" style="height: 400px;"></div>
                    </div>


                    <label>You can also write geographical coordinates:</label>
                    <div class="row mb-3">
                        <div class="form-group col-6 text-center">
                            <label for="latitude" class="form-label"></label>
                            <input type="text" id="latitude" name="latitude" class="form-control form-control-lg bg-success text-white" placeholder="Latitude" required />
                        </div>

                        <div class="form-group col-6 text-center">
                            <label for="longitude" class="form-label"></label>
                            <input type="text" id="longitude" name="longitude" class="form-control form-control-lg bg-success text-white" placeholder="Longitude" required />
                        </div>
                    </div>
                    <div class="form-outline text-center pt-3">
                        <label for="immagini" class="form-label"></label>
                        <input type="file" id="immagini" name="file">
                    </div>
                <div class="pt-3 mb-3 text-center">
                    <button class="btn btn-outline-success btn-lg" type="submit">Add Place</button>
                </div>

            </form>
        </div>
        </div>

        <footer class="mastfoot mt-auto">
            <div class="inner">
                <p>Urbex Collection by <a href="https://www.instagram.com/kaumawa/?hl=it">Kaumawa</a> and <a href="https://www.instagram.com/gaspacioo/">Gaspacioo</a>.</p>
            </div>
        </footer>
    </div>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="../../../../assets/js/vendor/popper.min.js"></script>
<script src="../../../../dist/js/bootstrap.min.js"></script>
<script src="/js/leaflet.js"></script>
<script>
    // Inizializza la mappa
    var map = L.map('map').setView([41.85544998608186, 12.469042539596558], 13);

    // Aggiungi il layer della mappa
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors',
        maxZoom: 18,
    }).addTo(map);

    // Aggiungi un marker interattivo sulla mappa
    var marker = L.marker([41.85544998608186, 12.469042539596558], {
        draggable: true // Permette all'amministratore di spostare il marker
    }).addTo(map);

    // Aggiungi un evento per ottenere le coordinate del marker quando viene spostato
    marker.on('dragend', function (event) {
        var marker = event.target;
        var position = marker.getLatLng();
        var latitude = position.lat;
        var longitude = position.lng;

        // Aggiorna i valori delle coordinate nei campi di input
        document.getElementById('latitude').value = latitude;
        document.getElementById('longitude').value = longitude;
    });
</script>
</body>
</html>