<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Urbex Collection</title>
    <link rel="stylesheet" href="/css/bootstrap.rtl.min.css">
    <link rel="stylesheet" href="/css/cover.css">
    <link rel="stylesheet" href="/css/stile.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
</head>
<body class="text-center">

<div class="background-container">
    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
        <header class="masthead mb-auto">
            <div class="inner">
                <h3 class="masthead-brand">Urbex</h3>
                <nav class="nav nav-masthead justify-content-center">
                    <a class="nav-link active" href="/">Home</a>
                    <div class="px-2">
                        <div th:if="${userDetails != null}">
                            <a class="nav-link" href="/logout">Logout</a>
                        </div>
                        <div th:unless="${userDetails != null}">
                            <a class="nav-link" href="/login">Login</a>
                        </div>
                    </div>
                    <a class="nav-link" th:href="@{/formSearchPlaces}">Search</a>
                </nav>
            </div>
            <div th:if="${userDetails}">
                <p style="margin-top: 50px; margin-right: 610px;">Hello,<a th:text="${userDetails.username}"></a>!</p>
            </div>
        </header>

        <main role="main" class="inner cover bg-success rounded-3">
            <h1 class="cover-heading">URBEX COLLECTION</h1>
            <p class="lead">Urbex collection is a collection of collections about our collection in urbex</p>
            <p class="lead">
                <a th:href="@{/places}" class="btn btn-lg btn-secondary">View Collections</a>
            </p>
        </main>
        <main role="main" class="inner cover bg-success rounded-3 mt-3">
            <h1 class="lead" style="font-size: xx-large;">Available operations for admin user:<br></h1>
                <li style="margin-right: 200px; font-size: x-large;">
                    <a class="fa-solid fa-list-check" th:href="@{/admin/managePlaces}"></a>
                    <a>Manage places</a>
                </li>
                <li style="margin-right: 205px; font-size: x-large;">
                    <a class="fa-solid fa-square-plus" th:href="@{/admin/formNewPlace}"></a>
                    <a>Add new place</a>
                </li>
        </main>

        <footer class="mastfoot mt-auto">
            <div class="inner">
                <p>Urbex Collection by <a href="https://www.instagram.com/kaumawa/?hl=it">Kaumawa</a> and <a href="https://www.instagram.com/gaspacioo/">Gaspacioo</a>.</p>
            </div>
        </footer>
    </div>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="../../../../assets/js/vendor/popper.min.js"></script>
<script src="../../../../dist/js/bootstrap.min.js"></script>
</body>
</html>