html,
body
{
    height: 100%;
    width: 100%;
    background-color: rgb(50, 50, 50);
}
h3{
    color:white;
}
p{
    color: white;
}
span{
    color: red;
    text-decoration: none;
}
a{
    text-decoration: none;
    color: white;
}
label{
    color: white;
}

.move-center {
    margin-top: 250px;
}

.background-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    animation: animate 16s ease-in-out infinite;
    background-size: cover;
}

@keyframes animate {
    0%,100% {
        background-image: url(/images/IndexSlideshow/1.jpeg);
    }
    25% {
        background-image: url(/images/IndexSlideshow/2.jpeg);
    }
    50% {
        background-image: url(/images/IndexSlideshow/3.jpeg);
    }
    75% {
        background-image: url(/images/IndexSlideshow/4.jpeg);
    }
}

.bg-rgb {
    background-color: rgb(50, 50, 50);
}