html,
body
{
    height: 100%;
    width: 100%;
    background-color: rgb(50, 50, 50);
}
h3{
    color:white;
}
p{
    color: white;
}
span{
    color: red;
    text-decoration: none;
}
a,
a:focus,
a:hover {
    text-decoration: none;
    color: white;
}
a:not([href]):not([class]), a:not([href]):not([class]):hover{
    color: white;
}
label{
    color: white;
}
.move-center {
    margin-top: 250px;
}

.background-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    animation: animate 16s ease-in-out infinite;
    background-size: cover;
}

@keyframes animate {
    0%,100% {
        background-image: url(/images/IndexSlideshow/1.jpeg);
    }
    25% {
        background-image: url(/images/IndexSlideshow/2.jpeg);
    }
    50% {
        background-image: url(/images/IndexSlideshow/3.jpeg);
    }
    75% {
        background-image: url(/images/IndexSlideshow/4.jpeg);
    }
}

.bg-rgb {
    background-color: rgb(50, 50, 50);
}
/*
 * Header
 */
.masthead {
    margin-bottom: 2rem;
}

.masthead-brand {
    margin-bottom: 0;
}

.nav-masthead .nav-link {
    padding: .25rem 0;
    font-weight: 700;
    color: rgba(255, 255, 255, .5);
    background-color: transparent;
    border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
    border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
    margin-left: 1rem;
}

.nav-masthead .active {
    color: #fff;
    border-bottom-color: #fff;
}

@media (min-width: 48em) {
    .masthead-brand {
        float: left;
    }
    .nav-masthead {
        float: right;
    }
}