html,
body
{
    height: 100%;
    width: 100%;
    background-color: #333;
}
h3{
    color:white;
}
p{
    color: white;
}
span{
    color: red;
    text-decoration: none;
}
a{
    text-decoration: none;
    color: white;
}
label{
    color: white;
}

.move-center {
    margin-top: 250px;
}