<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Urbex Collection</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/cover.css">
    <link rel="stylesheet" href="/css/stile.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
</head>

<body>
<div class="container-fluid d-flex h-75 p-3 flex-row">

    <div class="col-sm-6">
        <header class="masthead mb-auto ">
            <div class="inner row-3">
                <h3 class="masthead-brand">Urbex</h3>
                <nav class="nav nav-masthead justify-content-center row-6">
                    <a class="nav-link active" href="/">Home</a>
                    <div class="px-2">
                        <div th:if="${userDetails != null}">
                            <a class="nav-link" href="/logout">Logout</a>
                        </div>
                        <div th:unless="${userDetails != null}">
                            <a class="nav-link" href="/login">Login</a>
                        </div>
                    </div>
                    <a class="nav-link" th:href="@{/formSearchPlaces}">Search</a>
                </nav>
            </div>
            <div th:if="${userDetails}">
                <p style="margin-top: 50px; margin-right: 610px;">Hello,<a th:text="${userDetails.username}"></a>!</p>
            </div>
        </header>
        <div class="d-flex align-items-center h-custom-2 px-5 ms-xl-4 mt-5 pt-5 pt-xl-0 mt-xl-n5">
            <form th:action="@{'/addReview' + '/' + ${place.id} + '/' +${credentials.user.id}}" method="POST" th:object="${review}">
                <div th:if="${#fields.hasGlobalErrors()}">
                    <p th:each="err:${#fields.globalErrors()}"th:text="${err}">...</p>
                </div>
                <h3 class="fw-normal mb-3 pb-3 text-center" style="letter-spacing: 1px;">Write a review:</h3>
                <div class="form-outline mt-3 mb-3 text-center">
                    <label class="form-label" for="titolo"></label> <input required type="text" class="form-control bg-success form-control-lg text-white" placeholder="Title" th:field="${review.title}" id="titolo"/>
                    <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>
                </div>

                <div class="form-outline mt-3 mb-3 text-center">
                    <label class="form-label" for="descrizione"></label>
                <textarea required type="text" class="form-control bg-success form-control-lg text-white" placeholder="Descriprion" th:field="${review.text}" id="descrizione"/>
                </div>
                <div>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"style="margin-left: 45px;"></i>
                    <i class="fa-solid fa-star"style="margin-left: 45px;"></i>
                    <i class="fa-solid fa-star"style="margin-left: 45px;"></i>
                    <i class="fa-solid fa-star"style="margin-left: 45px;"></i>
                    <div class="form-outline  mb-3 text-center">
                        <label class="form-label" for="voto"></label> <input required type="range" class="form-range" min="1" max="5" th:field="${review.rating}" id="voto"/>
                        <span th:if="${#fields.hasErrors('rating')}" th:errors="*{rating}"></span>
                    </div>
                </div>


                <div class="pt-1 mb-3 mt-3 text-center">
                    <button class="btn btn-outline-success btn-lg" type="submit">Review!</button>
                </div>
            </form>
        </div>
    </div>

    <div class="col-sm-6 px-0 d-none d-sm-block">
        <!--<img src="/images/login.JPG"
             alt="Login image" class="w-100 vh-100" style="object-fit: cover; object-position: left;">-->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="w-100 vh-100" style="object-fit: cover; object-position: right;" th:src="'data:image/jpeg;base64,'+${place.getThumbnail().getImgData()}" alt="Second slide">

            </div>

            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only"></span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only"></span>
            </a>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>