<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link rel="stylesheet" href="/css/bootstrap.rtl.min.css">
</head>
<body>
    <div class="container">
        <div class="raw">
            <div class="col">
                <h1 class="text-center">Forza ROMA!</h1>
                <a class="text-center" href="formLogin.html">Login</a>
            </div>
        </div>
    </div>
</body>
</html>