<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Urbex Collection</title>
    <link rel="stylesheet" href="/css/bootstrap.rtl.min.css">
    <link rel="stylesheet" href="/css/cover.css">
    <link rel="stylesheet" href="/css/stile.css">
</head>

<body>
<div class="cover-container d-flex h-75 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
        <div class="inner">
            <h3 class="masthead-brand">Logos</h3>
            <nav class="nav nav-masthead justify-content-center">
                <a class="nav-link active" href="/">Home</a>
                <a class="nav-link" href="formLogin.html">Login</a>
                <a class="nav-link" href="#">bho</a>
            </nav>
        </div>
    </header>

    <div class="container-fluid">
        <div class="row">

        </div>
    </div>

    <footer class="mastfoot mt-5 text-center">
        <div class="inner">
            <p>Urbex Collection by <a href="https://www.instagram.com/kaumawa/?hl=it">Kaumawa</a> and <a href="https://www.instagram.com/gaspacioo/">Gaspacioo</a>.</p>
        </div>
    </footer>

</div>
</body>
</html>